<form #f="ngForm" (ngSubmit)="save()">
    <h1>Shipping</h1>
    <div class="form-group">
        <label for="name">name</label>
        <input #name="ngModel" [(ngModel)]="shipping.name" name="name" id="name" type="text" class="form-control" placeholder="name" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            Title is required.
        </div>
    </div>
    <div class="form-group">
        <label for="address">address</label>
        <input #addressLine1="ngModel" [(ngModel)]="shipping.addressLine1" name="addressLine1" id="addressLine1" type="text" class="form-control" placeholder="Line1" required>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
            Title is required.
        </div>
    </div>
    <div class="form-group">
        <input #addressLine2="ngModel" [(ngModel)]="shipping.addressLine2" name="addressLine2" id="addressLine2" type="text" class="form-control" placeholder="Line2" required>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
            Title is required.
        </div>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input #city="ngModel" [(ngModel)]="shipping.city" name="city" id="city" type="text" class="form-control" placeholder="City" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
            Title is required.
        </div>
    </div>
    <button class="btn btn-primary">Save</button>
</form>
